.select-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  background: white;
  margin: 0;
  border-radius: 4px;

  legend {
    display: block;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: -4px;
    padding: 0 4px;
    font-size: 10px;
    visibility: hidden;
    &.active {
      width: auto;
    }
  }

  label {
    left: 10px;
    top: -5px;
    z-index: 10;
    width: auto;
    display: inline-block;
    padding: 3px 4px;
    font-size: 10px;
    color: hsl(0,0%,80%);
  }

  &:focus-within {
    border-width: 1px;
    label {
      color: hsl(0,0%,10%);
    }

    .select {
      span {
        display: none;
      }
      div[class*=-control] {
        border-width: 0;
        border-color: transparent;
        background: transparent;
        outline: 0 !important;
        box-shadow: 0 0 0 transparent;
      }
    }
  }
  .select {
    margin-top: -5px;
    div[class*=-control] {
      border-width: 0;
      box-shadow: none;
      background: transparent;
    }
  }

  .select {
    span[class*=indicatorSeparator] {
      display: none;
    }
    div[class*=-menu] {
      z-index: 1001;
      margin-top: 0;
      margin-left: -20px;
      div[class*=-option]{
        &[class*=css-1y], &:hover, &:active {
          background: #EFEFEF;
        }
        &[class*=css-1na] {
          background: #EFEFEF;
          &:hover {
            background: #EFEFEF;
          }
        }
      }
    }
  }
}