.toast {
  display: flex;
  align-items: center;

  .content {
    padding: 8px 0;
    display: flex;
    align-items: center;
  }

  .actions {
    margin-left: 8px;
    margin-right: -8px;
    display: flex;
  }

  .confirm {
    margin-right: 8px;
    background-color: #1a73e8;
    color: #f6f6f6;
  }
}