body {
  background-color: $bg-default;
  font-family: "Lexend", sans-serif !important;
  font-size: 14px;
  color: $text-body;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  * {-webkit-font-smoothing: antialiased;}
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    color: $text-body !important;
  }
  .MuiPaper-root, .MuiTableCell-body {
    color: $text-body;
  }

  .content {
    width: 100%;
    .page-title {
      display: flex;
      align-items: center;
      padding: 16px 0;
    }
  }
}