.flex {
  display: flex;
}
.flex-middle {
  align-items: center;
}
.flex-top {
  align-items: flex-start;
}
.flex-bottom {
  align-items: flex-end;
}
.flex-end {
  justify-content: flex-end;
}

//Text
.text-center {
  text-align: center;
  margin: 0 auto;
}
.text-middle {
  vertical-align: middle !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}

// misc
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
