#root,
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  line-height: 1.5;
  font-family: $font-family-base im !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  a {
    color: var(--primary);
    &:hover {
      text-decoration: none;
      color: var(--purple);
    }
  }
}

div,
a {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.card-title {
  color: $text-body !important;
  font-weight: 500 !important;
}

.base-layout,
.MuiPaper-root,
.MuiTableCell-body,
.matx-customizer {
  color: $text-body;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: rgba(255, 0, 221, 0.863);
  font-size: 16px;
}
