//Colors
$bg-default: #E3F2FD;
$text-body: #6f6f6f;

 // Typography
$font-weight-base: 400;
$font-size-base: 0.875rem;
$font-family-base: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !default;